In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Data Analyst .csv")

In [3]:
df

,Call Id,Lead Id,Campaign ID,Advertiser Id,Hid,Call Status,Lead Status,Agent Duration(seconds),Customer Duration(seconds),From Calling Number,To Calling Number,Attempt No,Created At,Updated At,Agent Id,Agent Name
0,26807,410987,930228,1883,40831aceu6850re1ece43deeqf20a6o,no-answer,Not Interested,8,0,9.186570e+11,+919552777764,1,2024-04-01 11:35:19,2024-04-01 11:35:27,2728,Mansi Jaiswal
1,26808,410986,930228,1883,3dc489fbg6850pe1ece43deewf20a6v,completed,Not Interested,51,34,9.186570e+11,+917275507242,1,2024-04-01 11:35:27,2024-04-01 11:36:19,2728,Mansi Jaiswal
2,26809,410985,930228,1883,92d7bfbag6850se1ece43deevf20a6y,no-answer,Invalid Number,9,0,9.186570e+11,+919430734094,1,2024-04-01 11:36:19,2024-04-01 11:36:28,2728,Mansi Jaiswal
3,26810,410984,930228,1883,3a9872eem6850oe1ece43deetf20a6m,completed,Not Interested,45,25,9.186570e+11,+918349289209,1,2024-04-01 11:36:29,2024-04-01 11:37:15,2728,Mansi Jaiswal
4,26811,410981,930228,1883,3dde873bx6850je1ece43deehf20a6u,no-answer,Busy,45,0,9.186570e+11,+917054670061,1,2024-04-01 11:37:14,2024-04-01 11:38:00,2728,Mansi Jaiswal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24618,51694,452649,930270,1883,d449d4aewcze1ec687663hcne4373a65,completed,Not Interested,30,21,9.186570e+11,7837713409,1,2024-05-15 19:18:00,2024-05-15 19:18:31,2804,Niharika Bhatt
24619,51695,452648,930270,1883,43d96decjcle1ec687663zcnf55dce0f,completed,Call Back,34,23,9.186570e+11,9915515529,1,2024-05-15 19:18:30,2024-05-15 19:19:09,2804,Niharika Bhatt
24620,51696,452647,930270,1883,ff5897edxcwe1ec687663zcva2756b59,completed,Not Interested,79,60,9.186570e+11,9166733250,1,2024-05-15 19:19:09,2024-05-15 19:20:29,2804,Niharika Bhatt
24621,51697,452646,930270,1883,b485f83fjcle1ec687663kcy54cfacf3,no-answer,Voice Issue,16,0,9.186570e+11,9888255000,1,2024-05-15 19:20:28,2024-05-15 19:20:45,2804,Niharika Bhatt
24622,51698,452646,930270,1883,b485f83fjcle1ec687663kcy54cfacf3,completed,Voice Issue,51,35,9.186570e+11,9888255000,2,2024-05-15 19:20:45,2024-05-15 19:21:36,2804,Niharika Bhatt

In [4]:
df.dtypes

Call Id                         int64
Lead Id                         int64
Campaign ID                     int64
Advertiser Id                   int64
Hid                            object
Call Status                    object
Lead Status                    object
Agent Duration(seconds)         int64
Customer Duration(seconds)      int64
From Calling Number           float64
To Calling Number              object
Attempt No                      int64
Created At                     object
Updated At                     object
Agent Id                        int64
Agent Name                     object
dtype: object

In [5]:
df.shape

(24623, 16)

In [7]:
df.isnull().sum()

Call Id                         0
Lead Id                         0
Campaign ID                     0
Advertiser Id                   0
Hid                             0
Call Status                     0
Lead Status                     0
Agent Duration(seconds)         0
Customer Duration(seconds)      0
From Calling Number           123
To Calling Number               0
Attempt No                      0
Created At                      0
Updated At                      0
Agent Id                        0
Agent Name                      0
dtype: int64

In [15]:
df.index

RangeIndex(start=0, stop=24623, step=1)

In [18]:
len(df[df.duplicated()])

0

In [21]:
df.dropna(inplace=True)

In [22]:
df.isnull().sum()

Call Id                       0
Lead Id                       0
Campaign ID                   0
Advertiser Id                 0
Hid                           0
Call Status                   0
Lead Status                   0
Agent Duration(seconds)       0
Customer Duration(seconds)    0
From Calling Number           0
To Calling Number             0
Attempt No                    0
Created At                    0
Updated At                    0
Agent Id                      0
Agent Name                    0
dtype: int64

In [24]:
df.head(2)

,Call Id,Lead Id,Campaign ID,Advertiser Id,Hid,Call Status,Lead Status,Agent Duration(seconds),Customer Duration(seconds),From Calling Number,To Calling Number,Attempt No,Created At,Updated At,Agent Id,Agent Name
0,26807,410987,930228,1883,40831aceu6850re1ece43deeqf20a6o,no-answer,Not Interested,8,0,9.186570e+11,+919552777764,1,2024-04-01 11:35:19,2024-04-01 11:35:27,2728,Mansi Jaiswal
1,26808,410986,930228,1883,3dc489fbg6850pe1ece43deewf20a6v,completed,Not Interested,51,34,9.186570e+11,+917275507242,1,2024-04-01 11:35:27,2024-04-01 11:36:19,2728,Mansi Jaiswal

In [27]:
df['Call Id'].value_counts().sum() #Answer

24500

In [29]:
df['Lead Id'].nunique() #Answer

8277

In [33]:
df['Lead Id'].unique()

array([410987, 410986, 410985, ..., 452648, 452647, 452646])

In [50]:
df[df["Call Status"] == "completed"].shape[0]  #Answer

8454

In [52]:
# Filter the DataFrame for rows where Call Status is "completed"
completed_calls = df[df['Call Status'] == 'completed']

# Count the distinct Lead Id values
unique_leads = completed_calls['Lead Id'].nunique()

# Print the result
print(f"Unique calls completed: {unique_leads}")

Unique calls completed: 5813

In [84]:
len(df[df["Lead Status"] == "Interested"])

3446

In [70]:
df.head(20)

,Call Id,Lead Id,Campaign ID,Advertiser Id,Hid,Call Status,Lead Status,Agent Duration(seconds),Customer Duration(seconds),From Calling Number,To Calling Number,Attempt No,Created At,Updated At,Agent Id,Agent Name
0,26807,410987,930228,1883,40831aceu6850re1ece43deeqf20a6o,no-answer,Not Interested,8,0,9.186570e+11,+919552777764,1,2024-04-01 11:35:19,2024-04-01 11:35:27,2728,Mansi Jaiswal
1,26808,410986,930228,1883,3dc489fbg6850pe1ece43deewf20a6v,completed,Not Interested,51,34,9.186570e+11,+917275507242,1,2024-04-01 11:35:27,2024-04-01 11:36:19,2728,Mansi Jaiswal
2,26809,410985,930228,1883,92d7bfbag6850se1ece43deevf20a6y,no-answer,Invalid Number,9,0,9.186570e+11,+919430734094,1,2024-04-01 11:36:19,2024-04-01 11:36:28,2728,Mansi Jaiswal
3,26810,410984,930228,1883,3a9872eem6850oe1ece43deetf20a6m,completed,Not Interested,45,25,9.186570e+11,+918349289209,1,2024-04-01 11:36:29,2024-04-01 11:37:15,2728,Mansi Jaiswal
4,26811,410981,930228,1883,3dde873bx6850je1ece43deehf20a6u,no-answer,Busy,45,0,9.186570e+11,+917054670061,1,2024-04-01 11:37:14,2024-04-01 11:38:00,2728,Mansi Jaiswal
5,26812,410983,930228,1883,085ebc34t6850he1ece43deeqf20a6p,no-answer,No Answer,4,0,9.186570e+11,+918888623821,1,2024-04-01 11:38:00,2024-04-01 11:38:08,2728,Mansi Jaiswal
6,26813,410982,930228,1883,ee4c8ffeg6850se1ece43deezf20a6v,no-answer,Bought Another Product,12,0,9.186570e+11,+919993171351,1,2024-04-01 11:38:08,2024-04-01 11:38:31,2728,Mansi Jaiswal
7,26814,410980,930228,1883,04cd62a1r6850ue1ece43deeqf20a6k,no-answer,No Answer,45,0,9.186570e+11,+917249483882,1,2024-04-01 11:38:31,2024-04-01 11:39:17,2728,Mansi Jaiswal
8,26815,410979,930228,1883,b7d717c0k6850se1ece43deeof20a6s,completed,Already Verified,41,22,9.186570e+11,+919642633876,1,2024-04-01 11:39:17,2024-04-01 11:40:04,2728,Mansi Jaiswal
9,26816,410978,930228,1883,d905f102h6850je1ece43deetf20a6z,no-answer,Interested,9,0,9.186570e+11,+919604986741,1,2024-04-01 11:40:04,2024-04-01 11:40:13,2728,Mansi Jaiswal
10,26817,410977,930228,1883,3144da0fm6850ne1ece43deehf20a6g,completed,Bought Another Product,39,27,9.186570e+11,+919589875111,1,2024-04-01 11:40:13,2024-04-01 11:40:52,2728,Mansi Jaiswal
11,26818,410976,930228,1883,7c75b15dp6850pe1ece43deenf20a6n,completed,Not Interested,61,37,9.186570e+11,+919165065900,1,2024-04-01 11:40:52,2024-04-01 11:41:54,2728,Mansi Jaiswal
12,26819,410975,930228,1883,b6cc1828v6850xe1ece43deetf20a6t,no-answer,Not Interested,9,0,9.186570e+11,+918103430461,1,2024-04-01 11:41:54,2024-04-01 11:42:03,2728,Mansi Jaiswal
13,26820,410974,930228,1883,2330f34dh6850se1ece43deerf20a6g,no-answer,Not Interested,40,0,9.186570e+11,+919810986777,1,2024-04-01 11:42:03,2024-04-01 11:42:43,2728,Mansi Jaiswal
14,26821,410972,930228,1883,6444fea2h6850we1ece43de0yf20a6z,completed,Not Interested,34,25,9.186570e+11,+917748855667,1,2024-04-01 11:42:43,2024-04-01 11:43:40,2728,Mansi Jaiswal
15,26822,410971,930228,1883,c2bf1417k6850se1ece43de0sf20a6p,completed,Not Interested,39,23,9.186570e+11,+918700202518,1,2024-04-01 11:43:39,2024-04-01 11:44:19,2728,Mansi Jaiswal
16,26823,410970,930228,1883,492ff805x6850ge1ece43de0xf20a6j,no-answer,Not Interested,44,0,9.186570e+11,+919867339818,1,2024-04-01 11:44:19,2024-04-01 11:45:03,2728,Mansi Jaiswal
17,26824,410969,930228,1883,ab61d23fu6850ue1ece43de0rf20a6h,completed,Interested,102,77,9.186570e+11,+919758432537,1,2024-04-01 11:45:03,2024-04-01 11:46:45,2728,Mansi Jaiswal
18,26825,410968,930228,1883,225cc8afy6850we1ece43de0kf20a6m,completed,Not Interested,57,38,9.186570e+11,+918109560369,1,2024-04-01 11:46:45,2024-04-01 11:47:45,2728,Mansi Jaiswal
19,26826,410967,930228,1883,928914c5j6850oe1ece43de0xf20a6r,no-answer,Call Back,47,0,9.186570e+11,+919258065291,1,2024-04-01 11:47:44,2024-04-01 11:48:36,2728,Mansi Jaiswal

In [107]:
# Define the criteria
criteria = (df['Call Status'] == 'Interested')
# Filter the DataFrame based on the criteria
qualified_leads = df[criteria]

# Count the number of rows that meet the criteria
count_qualified_leads = qualified_leads.shape[0]

# Print the result
print(f"Count of leads meeting advertiser criteria: {count_qualified_leads}")

Count of leads meeting advertiser criteria: 0

In [90]:
 len(df[df["Lead Status"] == "Not Interested"])

4907

In [91]:
# Filter the DataFrame for rows where call_status is "Not Interested"
not_interested_calls = df[df['Lead Status'] == 'Not Interested']

# Count the number of rows
count_not_interested = not_interested_calls.shape[0]

# Print the result
print(f"Count of call_status = 'Not Interested': {count_not_interested}")

Count of call_status = 'Not Interested': 4907

In [97]:
df['Agent Duration(seconds)'].mean()

36.07967346938776

In [100]:
# Ensure the 'Agent Call Duration' column is of numeric type
df['Agent Duration(seconds)'] = pd.to_numeric(df['Agent Duration(seconds)'], errors='coerce')

# Calculate the average of 'Agent Call Duration'
average_call_duration = df['Agent Duration(seconds)'].mean()

# Print the result
print(f"Average of Agent Call Duration: {average_call_duration}")

Average of Agent Call Duration: 36.07967346938776

In [101]:
df['Customer Duration(seconds)'].mean()

13.051877551020409

In [105]:
# Ensure the 'Customer Call Duration' column is of numeric type
df['Customer Duration(seconds)'] = pd.to_numeric(df['Customer Duration(seconds)'], errors='coerce')

# Calculate the average of 'Customer Call Duration'
average_call_duration = df['Customer Duration(seconds)'].mean()

# Print the result
print(f"Average of Customer Duration(seconds): {average_call_duration}")

Average of Customer Duration(seconds): 13.051877551020409

In [106]:
# Calculate the distribution of call statuses
call_status_distribution = df['Call Status'].value_counts()

# Print the result
print("Distribution of call statuses:")
print(call_status_distribution)

# Optionally, calculate the relative distribution (percentages)
call_status_distribution_percentage = df['Call Status'].value_counts(normalize=True) * 100

# Print the relative distribution
print("\nRelative distribution of call statuses (in percentages):")
print(call_status_distribution_percentage)

Distribution of call statuses:
Call Status
no-answer    16041
completed     8454
failed           5
Name: count, dtype: int64

Relative distribution of call statuses (in percentages):
Call Status
no-answer    65.473469
completed    34.506122
failed        0.020408
Name: proportion, dtype: float64

# Number of calls made (count of call_sid per agent)

In [115]:
# Ensure the necessary columns are present
#required_columns = ['agent', 'Call Id']
#if not all(column in df.columns for column in required_columns):
   # raise ValueError(f"CSV file must contain the following columns: {required_columns}")

# Drop rows with missing values in required columns
#df.dropna(subset=required_columns, inplace=True)

# Group by 'agent' and count the number of 'call_sid'
call_sid_per_agent = df.groupby('Agent Duration(seconds)')['Call Id'].count().reset_index()

# Rename columns for clarity
call_sid_per_agent.columns = ['Agent Duration(seconds)', 'Call ID ']

# Print the result
print(call_sid_per_agent)

     Agent Duration(seconds)  Call ID
0                          0       321
1                          1        65
2                          2       139
3                          3       133
4                          4       479
..                       ...       ...
222                      302         1
223                      303         1
224                      304         1
225                      312         1
226                      495         1

[227 rows x 2 columns]

# Calls connected (count of call_status = "Answered" per agent)

In [118]:
# Filter for answered calls
answered_calls = df[df['Call Status'] == 'completed']

# Group by agent and count the number of answered calls
calls_per_agent = answered_calls.groupby('Agent Duration(seconds)').size().reset_index(name='answered_count')

print(calls_per_agent)

     Agent Duration(seconds)  answered_count
0                          7               1
1                          8               1
2                          9               2
3                         10               3
4                         11               8
..                       ...             ...
215                      302               1
216                      303               1
217                      304               1
218                      312               1
219                      495               1

[220 rows x 2 columns]

# Leads converted (count of call_status = "Interested" per agent)

In [120]:
#  Filter for interested calls
interested_calls = df[df['Lead Status'] == 'Interested']

#  Group by agent and count the number of interested calls
leads_converted_per_agent = interested_calls.groupby('Agent Duration(seconds)').size().reset_index(name='interested_count')

# Print the result
print(leads_converted_per_agent)

     Agent Duration(seconds)  interested_count
0                          0                27
1                          1                 5
2                          2                 9
3                          3                14
4                          4                34
..                       ...               ...
215                      302                 1
216                      303                 1
217                      304                 1
218                      312                 1
219                      495                 1

[220 rows x 2 columns]

# Average agent call duration (average of Agent Call Duration per agent)

In [121]:
#  Ensure call_duration is of numeric type
df['call_duration'] = pd.to_numeric(df['Customer Duration(seconds)'], errors='coerce')

#  Group by agent and calculate the mean call duration
average_duration_per_agent = df.groupby('Agent Duration(seconds)')['Customer Duration(seconds)'].mean().reset_index(name='average_call_duration')

# Print the result
print(average_duration_per_agent)

     Agent Duration(seconds)  average_call_duration
0                          0                    0.0
1                          1                    0.0
2                          2                    0.0
3                          3                    0.0
4                          4                    0.0
..                       ...                    ...
222                      302                  271.0
223                      303                  284.0
224                      304                  289.0
225                      312                  296.0
226                      495                  476.0

[227 rows x 2 columns]

# Average customer call duration (average of Customer Call Duration per agent)

In [124]:
average_duration_per_agent = df.groupby('Agent Duration(seconds)')['Customer Duration(seconds)'].mean()

# Print the result
print(average_duration_per_agent)

Agent Duration(seconds)
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
       ...
302    271.0
303    284.0
304    289.0
312    296.0
495    476.0
Name: Customer Duration(seconds), Length: 227, dtype: float64